.root {
    -fx-background-image: url("./pizza.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.label {
  -fx-text-fill: white;
   -fx-font-size: 17.0px;
    -fx-font-weight: bold;
}

.check-box{
  -fx-text-fill: white;
}
.radio-button{
  -fx-text-fill: white;
}
